.PageUser{
    width: 487px;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.Name{
    color: white;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 12px;
}

.Photo{
    background-image: url(/src/images/Photo.jpg);
    width: 30px;
    height: 30px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: 15px;
}

.ArrowDown{
    color: white;
    width: 13px;
    height: 13px;
    margin-left: 15px;
    cursor: pointer;
}