body{
    background: #eeeeee;
}

.NewsPage{
    padding-top: 55px;
    max-width: 1024px;
    margin: 0 auto;
}

.Wrapper{
    display: flex;
    justify-content: space-between;
}

.Loader{
    margin-top: 25px;
}